body {
  background-image: url("./images/bg.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Varela Round", sans-serif;
}

h1 {
  font-family: "Pacifico", cursive;
  text-align: center;
  font-size: 60px;
  margin: 15px 0;
}

.image-box{
  width: 30%;
  min-width: 350px;
}

.image-box img{
  width: 100%;
}

/* 0. 캐러셀 컨테이너 영역 */
.carousel-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* 1. 캐러셀 이미지 영역 */
.carousel-imgs-wrap{
  position: relative;
}

/* 2. 캐러셀 버튼 */
.btn-arrow{
  position: absolute;
  top: 50%;
  z-index: 5;
  transform: translateY(-50%);
  width: 35px;
  padding: 0;
  border: 0;
  background-color: transparent;
  opacity: 0.8;
  cursor: pointer;
}

.btn-arrow:hover{
  opacity: 0.9;
}

.btn-arrow:active{
  opacity: 0.7;
}

.btn-arrow img{
  width: 100%;
  vertical-align: bottom;
  pointer-events: none; /* e.target에 안잡히게 */
}

.btn-arrow-prev{
  left: -60px;
}

.btn-arrow-next{
  left: auto;
  right: -60px;
}

/* 3. 사진영역 */
.carousel-imgs{
  width: 400px;
  border-radius: 8px;
  overflow: hidden;
}

.carousel-imgs img{
  width: 100%;
  vertical-align: bottom;
}

/* 4. dot 영역 */
.carousel-dots{
  margin: 15px 0;
}

.carousel-dots .dot{
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #333;
  margin: 0 6px;
  cursor: pointer;
  opacity: 0.5;
}

.carousel-dots .dot.active{
  opacity: 1;
}